<div class="post-show row">
  <div class="col-md-8">
    <%=image_tag @post.image, class: 'image' %>
  </div>
  <div class="col-md-4">
    <div class="user">
      <div class="avatar">
        <% if @post.user.avatar.attached? %>
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.avatar %>
          <% end %>
        <% end %>
      </div>
      <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
    </div>
    <div class="description">
      <%= @post.description %>
    </div>
    <div class="delete">
      <% if current_user.posts.exists?(@post.id) %>
        <%= link_to 'Remove', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <div class="comments">
      <% @comments = @post.comments %>
      <% if @comments %>
        <div class="scroll">
          <% @comments.each do |comment| %>
            <div class="comment">
              <strong><%= comment.username %></strong> <%= comment.content %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="add-comment">
      <%= form_for Comment.new do |f| %>
        <%= f.text_field :content, placeholder: "Add a comment..." %>
        <%= f.submit 'Send', class: 'btn btn-comment' %>
        <%= f.text_field :post_id, value: @post.id, class:'d-none'%>
        <%= f.text_field :username, value: current_user.username, class:'d-none'%>
      <% end %>
    </div>
  </div>
</div>
